
*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
    height: 100%;
    background: #fff
}









 .Search {
  background: white;
  color: white;
  font-family: 'Roboto', helvetica, sans-serif;
  /*padding: 120px;*/

  /*padding-top: 60px;*/
  background-repeat: no-repeat;
  background-size: cover;

}



/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
      body {
      width: 100%;
     }
      div {
      width: 100%;
     }
      button {
      width: 100%;
     }
      h1 {
      width: 100%;
     }
      p {
      width: 100%;
     }
      input {
       width: 100%;
     }
     .navbar {
       margin-bottom: 50px;
     }


}
